@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll::-webkit-scrollbar {
    height: 3px;
}

.badge {
    padding: 4px 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid rgba(241, 241, 243, 1);
    background-color: white;
    font-size: 12px;
    color: rgba(76, 76, 77, 1);
}

.subscription-plan-card {
    padding: 50px 30px 30px 30px;
    background-color: rgba(232, 234, 240, 0.2);
    border: 1px solid rgba(241, 241, 243, 1);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.features-section {
    padding: 40px 32px;
    border-radius: 14px 14px 0 0;
    border: 1px solid rgba(241, 241, 243, 1)
}

.about-gradient-bg {
    background: linear-gradient(180deg, #1B2D64 0%, rgba(27, 45, 100, 0.6) 50%, rgba(27, 45, 100, 0) 100%);
}

.sned-mewsletter {
    padding: 10px;
    border-radius: 10px;
}