@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll::-webkit-scrollbar {
    height: 3px;
}

.badge {
    padding: 4px 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid rgba(241, 241, 243, 1);
    background-color: white;
    font-size: 12px;
    color:rgba(76, 76, 77, 1);
}
